//GLOBAL//

$bodyBgColor: #f9f9ff;
$mainFontColor: #5e5c7f;
$mainFontFamily: 'Rubik', sans-serif;
$showResponsiveNavigation: 1200px;

$menuBgColor: #353353;
$menuBorderColor: rgba(255, 255, 255, 0.1);

// HEADER//

$mainHeaderColor: #454360;

// NAVIGATION

$navFontColor: #fff;
$navFontHoverColor: #ffd15c;
$navCopyrightColor: #9c9ab3;
$iconColor: #ffd15c;

// home//

$homeBgColor: #353353;
$homeTextColor: #fff;
$homeTextHoverColor: #ffd15c;

// ABOUT ME//

$aboutCloudBg: #fff;
$progressBgColor: #f1f1f1;
$progressBarYellow: #ffd15c;
$progressBarRed: #ff4c60;
$progressBarBlue: #6c6ce5;

//
